/* SECTION ctnRestauranBasket */

.restaurantHeader {
  padding: 16px;
}

.restaurantRating {
  padding: 8px 0;
  color: #ff8000;
}

.restaurantNavbar {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 16px;
  font-weight: bold;
  color: #6d757a;
  background-color: #e6e6e6;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: top 0.3s;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2000;
}

#arrow {
  height: 24px;
}

.ctnRestauranBasket {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 100%;
}

.linkNavbar {
  border-radius: 16px;
  padding: 4px 16px;
  color: #6d757a;
  transition: all 0.3s ease;
}

.linkNavbar:hover {
  color: #ff8000;
  cursor: pointer;
  background-color: white;
}

.linkNavbar.activeNav {
  background-color: white;
  color: #ff8000;
}

/* ctnRestaurant */

.ctnRestaurant {
  width: calc(100% - 300px);
}

#imageMenu {
  width: 100%;
  height: 160px;
  object-fit: cover;
  opacity: 0.8;
}

/* menu */

.ctnMealsCategory {
  padding: 16px;
}

.category {
  font-size: 24px;
  padding: 16px 0;
}

.ctnSingleMeal {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.singleMeal {
  border: 1px solid rgb(228, 228, 228);
  border-radius: 5px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  transition: opacity 0.3s ease;
}

.singleMeal:hover {
  background-color: #eeeeee;
}

.mealDetails {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}

.meal {
  font-weight: bold;
  font-size: 20px;
}

.description {
  font-size: 16px;
  height: 40px;
  max-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 20px;
}

.price {
  color: #ff8000;
  font-size: 16px;
}

.mealImageAdd {
  display: flex;
  align-items: center;
  position: relative;
  padding-right: 8px;
}

#imageSingleMenu {
  width: 72px;
  height: 72px;
  object-fit: cover;
  border-radius: 8px;
}

.imageAmount {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(20%, -35%);
  z-index: 1000;
  background-color: white;
  border-radius: 16px;
  height: 30px;
  width: 30px;
  padding: 5px;
  border: 1px solid rgb(228, 228, 228);
}

.imageAmount:hover {
  cursor: pointer;
  background-color: #f7d8ba;
}

.numberAmount {
  display: flex;
  justify-content: center;
  color: #ff8000;
  font-weight: 600;
  font-size: 16px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(20%, -35%);
  z-index: 1000;
  background-color: white;
  border-radius: 16px;
  height: 30px;
  width: 30px;
  padding: 3px;
  border: 1px solid rgb(228, 228, 228);
}

.numberAmount:hover {
  cursor: pointer;
  background-color: #f7d8ba;
}

.imageBasketNumber {
  position: relative;
  top: 4px;
  left: -15px;
}

.numberAmountBasket {
  display: flex;
  justify-content: center;
  color: #ff8000;
  font-weight: 600;
  font-size: 14px;
  position: absolute;
  top: -3px;
  right: 0;
  transform: translate(60%, -00%);
  z-index: 1000;
  background-color: white;
  border-radius: 16px;
  height: 20px;
  width: 20px;
  padding: 1px;
  border: 1px solid rgb(228, 228, 228);
}

/* ctnBasketSticky */

.ctnBasketWrapper {
  width: 300px;
  flex-grow: 1;
  font-size: 16px;
  box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.2);
}

.ctnBasketSticky {
  position: sticky;
  top: 0px;
}

#titleBasket {
  width: 100%;
  padding: 16px;
  text-align: center;
  border-bottom: 1px solid rgb(228, 228, 228);
}

/* Switch Delivery */

.ctnSwitch {
  display: flex;
  justify-content: center;
  padding-top: 24px;
}

.switch {
  display: flex;
  height: 36px;
  width: 220px;
  background-color: #c4c4c4;
  border-radius: 20px;
  color: rgb(233, 232, 232);
  font-size: 12px;
}

.ctnSwitchDelivery {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  text-align: center;
  border-radius: 20px;
}

.ctnSwitchDelivery:hover {
  cursor: pointer;
  font-size: 14px;
}

.ctnSwitchDelivery.active {
  background-color: #eeeeee;
  color: #ff8000;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #c4c4c4;
}

/* Basket */

.ctnBasket {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  padding: 16px;
  gap: 8px;
  max-height: 450px;
  overflow: hidden;
  overflow-y: visible;
  margin-top: 40px;
}

.dishesBasket {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.titleDishesBasket {
  font-weight: bold;
  padding: 8px 0;
}

.ctnTotalAmountBasket {
  display: flex;
  justify-content: space-between;
}

.totalAmountBasket {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
  gap: 10px;
  align-items: center;
}

.plusMinusBasket {
  height: 28px;
  padding: 5px;
  border-radius: 16px;
  border: 1px solid rgb(228, 228, 228);
}

.plusMinusBasket:hover {
  cursor: pointer;
  background-color: #f7d8ba;
}

.summaryDish {
  display: flex;
  width: 60%;
  justify-content: end;
  gap: 10px;
  align-items: center;
}

#subtotal,
#deliveryCosts,
#totalCosts {
  display: flex;
  justify-content: space-between;
}

#totalCosts:last-child p {
  font-weight: bold;
}

.ctnTotal {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 6px;
  padding: 16px;
}

.ctnButtonPay {
  display: flex;
  padding: 16px;
}

.pay {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff8000;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  padding: 8px;
  color: white;
  border-radius: 20px;
  border: none;
}

.pay:hover {
  background-color: #ff8913;
  cursor: pointer;
}

.ordered {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff8000;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  padding: 8px 16px;
  color: white;
  border-radius: 20px;
  border: none;
}

.ordered:hover {
  background-color: #ff8913;
  cursor: pointer;
}

.dnone {
  display: none;
}

.ctnEmptyBasket {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 16px;
}

.ctnBasketButtonResponsive {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 50px;
  display: none;
}

.basketButtonResponsive {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #ff8000;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  padding: 5px;
  color: white;
  border-radius: 20px;
  border: none;
}

.basketButtonResponsive:hover {
  background-color: #ff8913;
  cursor: pointer;
}

.iconBasketResponsive {
  height: 22px;
}

