/* FOOTER */

.ctnFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ff8000;
    height: 50px;
    padding: 16px;
    color: white;
    z-index: 2000;
  }
  
  #icon8 {
    font-size: 14px;
  }
  